{% extends 'shop/layout.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>{{shop.name}}</h2>
            <img src="https://openapi.naver.com/v1/map/staticmap.bin?clientId={{settings.NAVER_MAP_CLIENT_ID}}&url=http://127.0.0.1:8000&crs=EPSG:4326&center={{shop.meta.lng}},{{shop.meta.lat}}&level=8&w=320&h=320&baselayer=default&markers={{shop.meta.lng}},{{shop.meta.lat}}" alt="">
            <table>

                <tr><th>주소</th><td>{{shop.meta.address}}</td></tr>
                <tr><th>배달비</th><td>{{shop.meta.delivery_fee_explanation}}</td></tr>
                <tr><th>최소주문금액</th><td>{{shop.meta.min_order_amount|intcomma}}원</td></tr>
                <!-- <tr><th>위도</th><td>{{shop.meta.lat}}</td></tr>
                <tr><th>경도</th><td>{{shop.meta.lng}}</td></tr> -->
                <tr><th>전화번호</th><td><a href="tel:{{shop.meta.phone}}">{{shop.meta.phone}}</a></td></tr>
            </table>
            <hr>
            <a href="{% url "shop:order_new" shop.pk %}" id="order-button" class="btn btn-primary btn-block mt-3 mb-3">주문하기</a>

            <table class="table table-bordered table-hover" id="item-list">
                <tbody>
                    {% for item in shop.item_set.all %}
                    <tr class="item" data-item-id="{{item.id}}">
                        <td>
                            {% if item.photo %}
                            <img src="{{item.photo.url}}" style="width:144px;"/>
                            {% endif %}
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.desc}}</td>

                        <td>{{item.amount|intcomma}}</td>

                        <td>{{item.is_public}}</td>
                        <td>
                            <i class="factor-button fa fa-minus-circle" data-factor="-1"></i>
                            <span class="quantity">0</span>
                            <i class="factor-button fa fa-plus-circle" data-factor="1"></i>
                        </td>


                    </tr>

                    {% endfor %}

                </tbody>
            </table>
            <h3>리뷰</h3>

            <a href="{% url 'shop:review_new' shop.pk %}" class="btn btn-primary">리뷰 쓰기</a>
            <table>
                <tbody>
                    {% for review in shop.review_set.all  %}
                    <tr>
                        <td>{{ review.author }}</td>
                        <td>{{ review.message }}</td>
                        {% if review.photo %}
                            <td> <img src="{{ review.photo.url }}" style="max-width: 200px;" /></td>

                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
    <hr/>
    <a href="{{shop.category.get_absolute_url}}">{{shop.category.name}} 카테고리로</a>
</div>


{% endblock %}

{% block extra-body %}
<script>
    $(function() {
        $('#item-list .item .factor-button').click(function() {
            var $el = $(this).siblings('.quantity');
            var factor = parseInt($(this).data('factor'));
            var quantity = parseInt($el.html()) + factor;
            if (quantity < 0) quantity = 0;
            $el.html(quantity);
        })
    });

    $('#order-button').click(function() {
        var mapped = _.map($('#item-list .item'), function(item) {
            var item_id = $(item).data('item-id');
            var quantity = $(item).find('.quantity').html();
            return {item_id: item_id, quantity: quantity};
        });

        var filtered = _.filter(mapped, function(item) {
            return item.quantity > 0;
        });

        if (filtered.length >0) {
            var args = $.param(_.object(_.map(filtered, _.values)));
            var url = $(this).attr('href')+'?'+args;
            $(this).attr('href', url);
            return true;
        } else {
            alert('상품 수량을 선택해주세요');
        }
        return false;
    })
</script>
{% endblock %}
