{% extends 'bookapp/base.html' %}
{% block content %}

<div class="container">
	<form class="navbar-form navbar-right" role="search" method="GET">
		<div class="input-group">
			<select class="select form-control" name="category_select" id="category_select">
				<option value="">선택</option>
				<option value="category">분류별</option>
				<option value="rating">별점별</option>
				<option value="format">형태별</option>
				<option value="borrowed_yn">빌린여부</option>
			</select>
		</div>

	    <div class="input-group">

	        <input type="text" class="form-control" placeholder="검색어 입력" name="q" id="q">
	        <span class="input-group-btn">
	            <button type="submit" class="btn btn-default">
	           		<span class="glyphicon glyphicon-search"></span>
	            </button>
	        </span>
	    </div>
	    <input type="hidden" name="q_value" id="q_value" value = '{{q}}'>
	    <!-- <input type="hidden" name="select_value" id="select_value" value='{{category_select}}'>
			<input type="hidden" name="format_value" id="format_value" value='{{format_select}}'> -->

	</form>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	       <th>표지</th>
	       <th style="display:none;">순번</th>
	       <th>제목</th>
	       <th style="display:none;">부제목</th>
	       <th>저자</th>
	       <th>책형태</th>
	       <th>페이지수</th>
	       <th>별점</th>
	       <th>분류</th>
	       <th>시작일자</th>
	       <th>끝일자</th>
	       <th style="display:none;">감상문파일</th>
	       <th style="display:none;">읽은상태</th>
	       <th>빌린여부</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for book in books %}
	        {% if book.read_status == "Reading" %}
	          <tr style="background-color:skyblue;">
									{% if book.poster_url != "" %}
	                	<td><img src='{{ book.poster_url }}'/></td>
									{% else %}
										<td><img src="/static/image/default_image.jpg"></img></td>
									{% endif %}
	                <td style="display:none;" id="book_seq">{{ book.book_sequence }}</td>
	                <td>{{ book.book_title }} <button type="button" data-id='{{book.book_sequence}}' class="btn btn-default editButton">Edit</button></td>
	                <td style="display:none;">{{ book.book_subtitle }}</td>
	                <td>{{ book.author }}</td>
	                <td>{{ book.book_format }}</td>
	                <td>{{ book.pages }}</td>
	                <td>{{ book.rating }}</td>
	                <td>{{ book.cate_cd.cate_2 }}</td>
	                <td>{{ book.start_date}}</td>
	                <td>{{ book.end_date }}</td>
	                <td style="display:none;">{{ book.book_essay_url }}</td>
	                <td style="display:none;">{{ book.read_status }}</td>
	                <td>{{ book.borrowed_yn }}</td>

	          </tr>
	        {% else %}
	            <tr>
									{% if book.poster_url != "" %}
										<td><img src='{{ book.poster_url }}'/></td>
									{% else %}
										<td><img src="/static/image/default_image.jpg"></img></td>
									{% endif %}
	                <td style="display:none;" id="book_seq">{{ book.book_sequence }}</td>
	                <td>{{ book.book_title }} <button type="button" data-id='{{book.book_sequence}}' class="btn btn-default editButton">Edit</button></td>
	                <td style="display:none;">{{ book.book_subtitle }}</td>
	                <td>{{ book.author }}</td>
	                <td>{{ book.book_format }}</td>
	                <td>{{ book.pages }}</td>
	                <td>{{ book.rating }}</td>
	                <td>{{ book.cate_cd.cate_2 }}</td>
	                <td>{{ book.start_date}}</td>
	                <td>{{ book.end_date }}</td>
	                <td style="display:none;">{{ book.book_essay_url }}</td>
	                <td style="display:none;">{{ book.read_status }}</td>
	                <td>{{ book.borrowed_yn }}</td>

	          </tr>
	        {% endif %}
	    {% endfor %}
	  </tbody>
	</table>

	{% if books.has_other_pages %}
	  <ul class="pagination">
	    {% if books.has_previous %}
	      <li><a href="?page={{ books.previous_page_number }}&category_select={{category_select}}&q={{q}}">&laquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&laquo;</span></li>
	    {% endif %}
	    {% for i in books.paginator.page_range %}
	      {% if books.number == i %}
	        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
	      {% else %}
	        <li><a href="?page={{ i }}&category_select={{category_select}}&q={{q}}">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}
	    {% if books.has_next %}
	      <li><a href="?page={{ books.next_page_number }}&category_select={{category_select}}&q={{q}}">&raquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
	{% endif %}
</div>

{% block right_panel %}
asdfsdf
{% endblock %}
<form id="bookForm" method="post" action="/book/update/" class="form-horizontal" style="display: none;">
	{% csrf_token %}
	<input type="hidden" class="form-control" name="book_sequence" id="book_sequence" />
    <div class="form-group">
        <label class="col-xs-3 control-label">제목</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="book_title" id="book_title"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">저자</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="author" id="author"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">책형태</label>
        <div class="col-xs-5">
            <select class="form-control" name="book_format" id="book_format">
            	<option value="-----">선택</option>
            	<option value="Book">Book</option>
            	<option value="eBook">eBook</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">읽은상태</label>
        <div class="col-xs-5">
            <select class="form-control" name="read_status" id="read_status">
            	<option value="-----">선택</option>
            	<option value="Read">Read</option>
            	<option value="Reading">Reading</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">페이지수</label>
        <div class="col-xs-5">
            <input type="number" class="numberinput form-control" name="pages" id="pages"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">별점</label>
        <div class="col-xs-5">
            <input type="number" class="numberinput form-control" name="rating" id="rating"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">시작일자</label>
        <div class="col-xs-5">
            <input type="date" class="dateinput form-control" name="start_date" id="start_date"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">끝일자</label>
        <div class="col-xs-5">
            <input type="date" class="dateinput form-control" name="end_date" id="end_date"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-5 col-xs-offset-3">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </div>
</form>
<script type="text/javascript">

	// 검색 form set
	$(document).ready(function() {
		var q = $('#q_value').val();
		var category = $('#select_value').val();
		if (category != null && q != null) {
			$('#category_select').val(category);
			$('#q').val(q);
		}
	});

	// edit 버튼 click 시 modal form 생성
	$('.editButton').on('click', function() {
        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        var input_data = {};
        input_data['id' ] = id.trim();

        $.ajax({
            url: "{% url 'bookapp:get_book' %}",
            type : "get",
            // dataType: 'json',
            data : input_data,
            method: "GET",

            success : function(data) {
            	/*
            	  [{aaa : bbb, ccc : ddd}, {fff: eee, ggg: hhh}, ...]
            	  이와 같은 형태로 넘어오게 되면 eval을 써서 json string을 json object로 변환하자
            	 */
            var book_data = eval(data);
	        	console.log(book_data[0]);
	        	console.log(book_data[0]['fields']['read_status']);

	            $('#bookForm')
	                .find('[name="book_sequence"]').val(book_data[0]['pk'].trim()).end()
	                .find('[name="book_title"]').val(book_data[0]['fields']['book_title'].trim()).end()
	                .find('[name="author"]').val(book_data[0]['fields']['author'].trim()).end()
	                .find('[name="book_format"]').val(book_data[0]['fields']['book_format'].trim()).end()
	                .find('[name="pages"]').val(book_data[0]['fields']['pages']).end()
	                .find('[name="rating"]').val(book_data[0]['fields']['rating']).end()
	                .find('[name="read_status"]').val(book_data[0]['fields']['read_status'].trim()).end()
	                .find('[name="start_date"]').val(book_data[0]['fields']['start_date']).end()
	                .find('[name="end_date"]').val(book_data[0]['fields']['end_date']).end()

	            // Show the dialog
	            bootbox
	                .dialog({
	                    title: book_data[0]['fields']['book_title'].trim(),
	                    message: $('#bookForm'),
	                    show: false // We will show it manually later
	                })
	                .on('shown.bs.modal', function() {
	                    $('#bookForm')
	                        .show()
	                        // .formValidation('resetForm'); // Reset form
	                })
	                .on('hide.bs.modal', function(e) {
	                    // Bootbox will remove the modal (including the body which contains the login form)
	                    // after hiding the modal
	                    // Therefor, we need to backup the form
	                    $('#bookForm').hide().appendTo('body');
	                })
	                .modal('show');
	         	}
        });
    });

    $(function() {
    	$('#bookForm').on('submit', function(e){
    		e.preventDefault();
    		$.ajax({
    			url : "{% url 'bookapp:book_update' %}",
    			type : "POST",
    			data : $('#bookForm').serialize(),
    			success: function(data) {
    				if (data == 'success') {
    					bootbox.hideAll();
    					alert("update 완료");
    					window.location = 'bookapp:book_list';
    				} else {
    					alert("error 발생");
    				}
    			}
    		});
    	});
    });
</script>
{% endblock %}
