{% extends 'shop/layout.html' %}

{% block content %}
{% load humanize %}
<div class="container">
    <div class="row">
            {% for item in  item_list %}
            <div class="col-sm-3">
                <div class="card">
                    {% if item.photo %}
                        <img class="card-img-top" src="{{ item.photo.url }}">
                    {% endif %}
                    <div class="card-body">
                      <p class="card-title">{{item.name}}</p>
                      <p class="card-text">{{item.amount|intcomma}}</p>
                      {% if item.desc %}
                        <p class="card-text">{{item.desc}}</p>
                      {% endif %}
                    </div>
                    <!-- <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>-->
                    <a href="{% url 'shop:order_new' item.id %}" class="btn btn-primary">구매하기</a>
                </div>

            </div>
            {% endfor %}
    </div>
</div>

{% endblock %}
