[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"
black = "*"

[packages]
pillow = "*"
django-countries = "*"
django = "==2.2.5"
django-seed = "*"
django-contries = "*"

[requires]
python_version = "3.7"
